.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: aliceblue;

	.innerAbout {
		display: flex;
		flex-direction: column;
		height: 100%;
		margin-inline-start: 75px;
		justify-content: center;

		.firstPart {
			display: flex;
			flex-direction: column;
			width: fit-content;

			.location {
				display: flex;
				align-items: center;
				margin-bottom: 24px;

				&__icon {
					fill: #000000;
					height: 15px;
					width: 8px;
					margin-inline-end: 8px;
				}

				&__text {
					font-weight: 600;
					font-size: 2rem;
					color: #000000;
				}
			}

			.headerContainer {
				display: flex;
				align-items: center;
				width: fit-content;
				margin-bottom: 48px;

				&__header {
					font-weight: 300;
					font-size: 9.6rem;
					color: #000000;
					margin-inline-end: 20px;
				}

				&__icon {
					fill: transparent;
					height: 45px;
					width: 45px;
				}
			}

			.innerEmail {
				display: flex;
				flex-direction: column;
				margin-bottom: 48px;

				&__text {
					font-weight: 400;
					font-size: 1.6rem;
					color: #595959;
					margin-bottom: 16px;
				}

				&__email {
					font-weight: 500;
					font-size: 4rem;
					width: fit-content;
					background: linear-gradient(90deg, #f9c55f 0%, #f67a7c 50.52%, #bb8ce1 100%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					padding-bottom: 5px;
					border-bottom: 1px solid;
					border-image-slice: 1;
					border-width: 1px;
					border-image-source: linear-gradient(90deg, #f9c55f 0%, #f67a7c 50.52%, #bb8ce1 100%);
				}
			}

			.contentContainer {
				display: flex;

				.innerSide {
					display: flex;
					flex-direction: column;
					align-items: flex-start;

					&__subTitle {
						font-weight: 400;
						font-size: 1.6rem;
						color: #595959;
						margin-bottom: 16px;
					}

					&__city {
						font-weight: 500;
						font-size: 3.2rem;
						color: #000000;
					}

					&__fullAdress {
						font-weight: 400;
						font-size: 1.6rem;
						color: #595959;
						line-height: 17px;
						margin: 16px 0;
						width: 60%;
					}

					&__title {
						font-weight: 500;
						font-size: 3.2rem;
						color: #000000;
					}

					&__title:not(:last-child) {
						margin-bottom: 16px;
					}

					.viewOnMap {
						display: flex;
						align-items: center;

						&__icon {
							width: 6px;
							height: 11px;
							margin-inline-end: 8px;
						}

						&__text {
							font-weight: 400;
							font-size: 1.6rem;
							color: #000000;
						}
					}
				}

				.innerSide:not(:last-child) {
					margin-inline-end: 48px;
				}
			}
		}
	}

	.secondPart {
		display: flex;
		flex-direction: column;
		margin-top: 90px;
		background-color: #fffcf0;
		width: 100%;
		padding: 32px 75px;

		&__title {
			font-weight: 400;
			font-size: 1.6rem;
			color: #595959;
			margin-bottom: 64px;
		}

		.innerSecondPart {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.leftSide {
				display: flex;
				width: 50%;
				height: 100%;
				border: 2px solid rgb(0, 191, 255);
				flex-direction: column;
				align-items: flex-start;
			}

			.rightSide {
				width: 154px;
				height: 198px;

				&__brandLogo {
					height: 100%;
					width: 100%;
					fill: #000000;
				}
			}
		}
	}
}
